@import "../../../../styles/variables";
@import "../../../../styles/animations";
.wrapper {
  width: 70%;
  margin: 0 auto;

  header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: $light;
  }
}
