<section class="main-footer">
  <div class="footer-desc">
    <div class="logo">
      <app-image [src]="'logo.svg'" [width]="'100%'" [height]="'100%'" />
      <h2>foodeli</h2>
    </div>
    <p>
      Our job is to filling your tummy with delicious food and with fast and
      free delivery.
    </p>
    <div class="social-icons">
      <div class="icon">
        <app-image [src]="'facebook.svg'" [width]="'100%'" />
      </div>
      <div class="icon">
        <app-image [src]="'twitter.svg'" [width]="'100%'" />
      </div>
      <div class="icon">
        <app-image [src]="'instagram.svg'" [width]="'100%'" />
      </div>
    </div>
  </div>
  <div class="about">
    <h3>About</h3>
    <div class="main">
      <p class="main-list">about Us</p>
      <p class="main-list">features</p>
      <p class="main-list">news</p>
      <p class="main-list">menu</p>
    </div>
  </div>
  <div class="about">
    <h3>Company</h3>
    <div class="main">
      <p class="main-list">why foodeli</p>
      <p class="main-list">partner with us</p>
      <p class="main-list faq">faq</p>
      <p class="main-list">blog</p>
    </div>
  </div>
  <div class="about">
    <h3>Support</h3>
    <div class="main">
      <p class="main-list">account</p>
      <p class="main-list">support center</p>
      <p class="main-list">feedback</p>
      <p class="main-list">contact us</p>
      <p class="main-list">accessibility</p>
    </div>
  </div>
  <div class="news">
    <h3>Get in Touch</h3>
    <p>Question or feedback?</p>
    <p>We’d love to hear from you</p>
    <div class="newsletter">
      <input type="text" name="email" placeholder="Email address" />
      <div class="send-image">
        <app-image [src]="'send.svg'" [width]="'100%'" [height]="'100%'" />
      </div>
    </div>
  </div>
</section>
