<section class="main-menu">
  <div class="upper">
    <div class="title">
      <h3>our menu</h3>
      <h2>Menu That Always Makes You Fall In Love</h2>
    </div>

    <div class="navigation">
      <div class="prev">
        <app-image [src]="'prev.svg'" [width]="'100%'" [height]="'100%'" />
      </div>
      <div class="next">
        <app-image [src]="'next.svg'" [width]="'100%'" [height]="'100%'" />
      </div>
    </div>
    <div class="dot-images">
      <div class="image-1"></div>
      <div class="image-2"></div>
    </div>
  </div>
</section>
